footer{
    width:100%;
    height:100px;
    background-color: black;
    text-align: center;
    border-top: 4px solid #2271d1;
    box-shadow: 4px 4px 8px rgba(34, 113, 209, 0.7);
}

footer img{
    width: 200px;
    height: 60px;
    margin: 20px auto;  
}

footer{
    
}

@media (max-width: 767px){

    .logo_footer{
        display:none;
    }
    
}

/* header{  
    position:relative;
    width: 100%;
    min-width: 350px;
    height: 80px;
    padding:4px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    
}

header::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #2271d1;
    box-shadow: 0 4px 8px rgba(34, 113, 209, 0.7);
} */