.categoria{
    background-color: black;  
}

.categoria__container{   
    display: flex;
    flex-direction:column;     
    gap:20px;
    padding: 2% 9%;
}

.categoria__button{    
    width: 200px;
    height: 40px; 
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.cards__container{  
    display: flex;
    gap: 20px;
    flex-wrap: wrap;  
    justify-content: center;
}

@media(max-width:767px){
    .categoria{
        padding-top:32px;
    }
}