.boton{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 4px;
    width: 140px;
    height: 48px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.icono{
    width: 32px;
    height: 32px;  
    margin: 4px;
}

.add_icon{
    width: 40px;
    height:40px;
    margin: 4px;
}

.menu_mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:48px;
    margin-top: 24px;
}

@media(min-width: 766px){
    .menu_mobile{
        display: none;        
    }
    
    
}